body{
    background-color: aqua;
}
h1{
    color: hsl(154, 73%, 61%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    box-sizing: border-box;
    margin: auto;
}
img{
    border-radius: 40%;
    width: 12%;
    padding: 20px;
    height: auto;
    box-shadow: 30px 15px 7px #c9f504;
}
h2{
    color: hsl(154, 73%, 61%);;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    box-sizing: border-box;
    margin: auto;
}
p{
    color: hsl(281, 65%, 51%);;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    box-sizing: border-box;
    margin: auto;
}
h3{
    color: rgba(124, 37, 224, 0.781);;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    margin: auto;
}
table{
    color: aquamarine;
    background-color: blueviolet;
    border: cornflowerblue solid;
}
th{
    border: cyan solid;
    background-color: darkgray;
    font-size: 40px;
}
td{
    border: darkorange solid;
    font-size: 30px;
}

ul>li{
    background-color: red;
    font-family: cursive;
    color: #118A02;
    text-align: justify;
    font-size: 20px;
    width: 80%;
    text-align: center;
}
ol>li{
    background-color: rgb(89, 54, 34);
    font-family: cursive;
    color: #206DAD;
    text-align: justify;
    font-size: 20px;
    width: 80%;
    text-align: center;
}
form{
    width: 50%;
    border: 1px solid rgb(89, 54,  4);
    margin: 20px;
    padding: 20px;
    background-color: sienna;
}
label{
    font-size: 22px;
    display: block;
    width: 100%;
    color: salmon;
}
input{
    margin-bottom: 20px;
    width: 100%;
}
textarea{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
button{
    width: 100%;
}





